@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  @apply font-goth;
  background-color: #696464;
}

/* Define the Gotham font face */
@font-face {
  font-family: 'Gotham';
  src: url('../../public/Assets/Fonts/GOTHAM-BOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Custom scrollbar styles */
@layer utilities {
  /* WebKit browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1ED760;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #1DD05D;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #1ED760 #2b2b2b; /* thumb color, track color */
  }
}
